@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@300;400;700&display=swap');

body {
    margin: 0;
    background: linear-gradient(to right, #C8C5BB 60%, #D9D7CA 40%);
    font-family: 'Reddit Mono', monospace;
}

.container {
    padding: 20px 40px;
    background: linear-gradient(to right, #F1EEE3 62.7%, #FFFBF3 38%);
    margin: 50px 180px;
    border-radius: 10px;
    border: 5px solid #D7D3CE;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header i {
    color: #757575;
    font-size: 16px;
}

.header input {
    border: none;
    background: none;
    font-size: 12px;
    color: #757575;
    width: 18%;
    padding: 10px;
}

.header input::placeholder {
    color: #757575;
}

.icon {
    cursor: pointer;
}

.intro {
    display: flex;
    align-items: center;
    gap: 170px;
}

.left {
    max-width: 40%;
    margin-left: 20px;
}

.left h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.4;
    word-wrap: break-word;
}

.left p {
    line-height: 1.7;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right img {
    width: 200px;
}

.right p:first-of-type {
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 1.4;
    font-style: italic;
}

.right p:last-of-type {
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.7;
    margin-left: 30px;
}

.books-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}

.addButton {
    background-color: #282932;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    padding: 12px 45px;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-end;
    margin-right: 160px;
}

.addButton:hover {
    background-color: #0e0e12;
}



.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.book-card img {
    width: 130px;
    height: 180px;
    object-fit: cover;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.404);
    transition: transform 0.3s ease-in-out;
}
  
  .book-card img:hover {
    transform: scale(1.12);
  }
  

.book-card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: black;
}
.books {
    display: flex;
    gap: 20px;
}


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.book-wrapper {
    display: flex;
    overflow: hidden;
    width: 900px;
}

.books {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.book-card {
    min-width: 120px;
    margin: 10px;
    text-align: center;
}

.prev, .next {
    background: none;
    color: 282932;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev { left: 0; }
.next { right: 0; }
